configuration {
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    show-icons: true;
    font: "JetBrainsMono Nerd Font 12";
    icon-theme: "Papirus";
}

@theme "~/.config/rofi/themes/rounded-nord-dark.rasi"
